
@media only screen and (max-width: 480px) { 

//     /* HEADER__LOGO*/
//     .header__logo {
//         width: 35%;
//     }
//     /* HEADER__BOOKING*/
//     .header__booking {
//         display: none;
//     }

// //-------------------------------------------
//     /*  MAIN HOME 01*/
//     .main__home {
//         margin-top: 25%;
//     }

//     /* PICS */
//     .section__pic {
//         width: 90%;
//         margin: 1%;
//     }

//     .section__pic h4 {
//         font-size: 1rem;
//     }

//-------------------------------------------

//New
// Layaouts:
    #body__home {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #none {
        display: none;
    }
    
    #menu__div {
        display: none;
    }
}