/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 1023px) {
    // 01. LAYOUTS
    // Contact
    #body__contact {
        display: flex;
        flex-direction: column;
        height: $height;
        background-image: url(/root/assets/multimedia/images/contactTablet.jpg);
        background-size: $background-size;
        background-repeat: $background-repeat;
    }

    // 02. MENU AND FOOTER
    // MENU
    // HOME:
    .logoResponsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6%;
    }

    .logoResponsive a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logoResponsive a img {
        width: 30%;
    }


    
    .menuHome {
        margin: 0.5em;
        width: auto;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navbarHomeContainer {
        margin-bottom: 15%;
    }



    // ABOUT:
    .menuAbout {
        margin: 0.5em;
        width: auto;
    }

    .navbarAbout {
        text-align: center;
    }

    .navbarAboutContainer {
        margin-top: 10%;
    }



    // SERVICES
    .menuServices {
        margin: 0.5em;
        width: auto;
    }

    .navbarServices {
        text-align: center;
        margin-bottom: 10%;
    }

    .navbarServicesContainer {
        margin-top: 15%;
    }


    // CONTACT
    .menuContact {
        margin: 0.5em;
        width: auto;
    }

    .navbarContact {
        text-align: center;
    }

    .navbarContactContainer {
        margin-top: 12%;
    }


    
    // 03. ZONES AND DIVS
    // HOME
    #title {
        font-size: 2.5em;
    }

    #title__div {
        bottom: 60%;
    }


    // ABOUT
    .card__text h3 {
        margin-bottom: 2%;
    }

    .shortText {
        margin-top: 7%;
        width: 60%;
        text-align: center;
    }

    // SERVICES
    .cardTextServicesOne {
        margin-bottom: 85%;
    }

    #cards__services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: 6%;
    }

    // CONTACT
    #firstPart {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 25%;
    }

    #textContact {
        width: 50%;
    }

    #form__contact {
        width: 50%;
    }

}