

/*Variables*/

/*  MAIN HOME 01*/
.main__home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;

    /* PICS => con compilación
    .section__pic {
        width: 70%;
        margin: 1%;
        
        .section__pic h4 {
            margin-top: -15%;
            margin-left: 8%;
            text-shadow: 2px 2px 5px black;
            font-size: 1.5rem;
        }

    }*/

}

/* PICS*/
.section__pic {
    width: 70%;
    margin: 1%;
}

.section__pic h4 {
    margin-top: -15%;
    margin-left: 8%;
    text-shadow: 2px 2px 5px black;
    font-size: 1.5rem;
}