// Home
// Title:
#title__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title {
    color: #F2E6A7;
    font-size: 4em;
    font-weight: normal;
    letter-spacing: 4rem;
    text-shadow: #111826 3px 5px 2px;
    margin-left: 4.5rem;
    margin-top: 23rem;
}



// About
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }