// /*Variables*/
//     /*Box shadow 01*/
//     $box-shadow-one: rgb(48, 48, 48) 0px 20px 30px -10px;

// /*  MAIN HOME 01*/
// .main__home {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     color: aliceblue;
// }

// // Carousel:
// .carousel {
//     box-shadow: $box-shadow-one;
// }

// /* PICS*/
// .section__pic {
//     width: 70%;
//     margin: 1%;
// }

// .section__pic h4 {
//     margin-top: -15%;
//     margin-left: 8%;
//     text-shadow: 2px 2px 5px black;
//     font-size: 1.5rem;
// }



// New:
// Title:
.title__div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #F2E6A7;
    font-size: 6rem;
    font-weight: normal;
    letter-spacing: 4rem;
    text-shadow: #111826 3px 5px 2px;
    margin-top: 4rem;
}