//Variables:
    /*Box shadow 01*/
    $box-shadow-one: rgb(38, 57, 77) 0px 20px 30px -10px;

    /*Border radius = 100%*/
    $border-radius-one: 100%;

    /*Text shadow 01*/
    $text-shadow-one: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);

    /*Blur 01*/
    $blur-filter-one: blur(8px);

// Mixins:
    /*Glass 01*/
    @mixin glass-shadow($blur){
        background: rgba(255, 255, 255, 0.30);
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        backdrop-filter: blur($blur);
    }

//-------------------------------------------------------------------------------------------------------

/* HEADER */
.header {
    width: auto;
    height: auto;
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


    /* HEADER__LOGO*/
    .header__logo {
        width: 15%;
    }
    
    .header__logo img {
        width: 100%;
        box-shadow: $box-shadow-one;
        border-radius: $border-radius-one;
        backdrop-filter: $blur-filter-one;
    }


/* HEADER__BOOKING*/
.header__booking {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    box-shadow: $box-shadow-one;
    border-radius: $border-radius-one;
    backdrop-filter: $blur-filter-one;
}


/*NAV BAR*/
.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    @include glass-shadow(8px);
    border-radius: 2%;
}

.navbar a {
    color: white;
    font-size: 1rem;
    text-shadow: $text-shadow-one;
}