// HOME
// Menu:
.logoResponsive {
    display: none;
}


.iCon {
    background-image: url(/root/assets/logos/list.svg);
    width: 100%;
}

.navbar-toggler {
    color: antiquewhite;
    opacity: 50%;
    width: 75px;
}


.menuHome {
    margin: 4.5em;
    width: 3em;
}

.menuHome a {
    text-decoration: none;
    color: azure;
    text-shadow: #111826 2px 2px 2px;
    width: auto;
}

.menuHome a:hover {
    color: #EB8C3C;
    text-shadow: #111826 2px 2px 2px;
}

#menu__logo {
    width: 12%;
    opacity: 70%;
    padding-left: 42px;
}

#menu__logo img {
    width: 100%;
}

#menu__logo:hover {
    opacity: 100%;
}


.navbarHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



// ABOUT
// Menu:
.menuAbout {
    margin: 4.5em;
    width: 3em;
}

.menuAbout a {
    text-decoration: none;
    color: azure;
    text-shadow: #111826 2px 2px 2px;
    width: auto;
}

.menuAbout a:hover {
    color: #97303C;
    text-shadow: #111826 2px 2px 2px;
}

.navbarAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


// SERVICES
// Menu:
.iconService {
    background-image: url(/root/assets/logos/listDark.svg);
    width: 100%;
}

.menuServices {
    margin: 4.5em;
    width: 3em;
}

.menuServices a {
    text-decoration: none;
    color: #262626;
    width: auto;
}

.menuServices a:hover {
    color: #9B6826;
}

.navbarServices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// CONTACT
// Menu:
.menuContact {
    margin: 4.5em;
    width: 3em;
}

.menuContact a {
    text-decoration: none;
    color: azure;
    text-shadow: #111826 1px 2px 3px;
    width: auto;
}

.menuContact a:hover {
    color: #9B6826;
    text-shadow: #111826 2px 2px 2px;
}

.navbarContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



// Footer
.footer {
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.footer a {
    padding: 25px;
}

.footer i {
    color: aliceblue;
}


.iconFace:hover {
    color: #3b5998;
}

.iconInsta:hover {
    color: #C13584;
}

.iconYou:hover {
    color: #c4302b;
}

// Services -------------------------------------------------------------------------------------
// Menu
#menu__divServices {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


// Footer
.footerServices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35%;
}

.footerServices a {
    padding: 25px;
}

.footerServices i {
    color: aliceblue;
}



// Contact
.footerContact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-top: 8%;
}

.footerContact a {
    padding: 25px;
}

.footerContact i {
    color: aliceblue;
}