/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*               PAGE 01 HOME                       */
/* BODY */
body {
    width: 1280px;
    margin-top: 4px;
    padding: 4px;
}

.body__home {
    background-image: url(/root/assets/Back-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 890px;
}

.first__accommodation {
    background-color: rgb(39, 99, 212);
    width: auto;
    height: 890px;
}

.accommodation__back {
    padding: 20px;
    margin: 20px;
}

.accommodation__back h3 {
    text-align: center;
    padding: 20px;
}

/* HEADER */
header {
    padding-bottom: 100px;
}

.header__nav {
    padding-left: 250px;
}

.header__list {
    list-style: none;
}

.header__item a{
    display: list-item;
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: aliceblue;
}

/* HEADER__LOGO*/
.header__logo {
    width: 120px;
    margin: 10px;
}

.header__logo img {
    width: 100%;
}

/* HEADER__BOOKING*/
.header__booking a{
    width: 125px;
    height: 50px;
    text-align: center;
    padding: 15px;
    background-color: rgb(25, 70, 95);
    text-decoration: none;
    color: aliceblue;
}

.header__booking a {
    font-size: 18px;
}

/*  MAIN */

/* SECTION HOME 01*/
.section__principal {
    color: aliceblue;
    font-style: normal;
}

/* PICS */
.section__pic {
    width: 310px;
    margin: 15px;
    padding: 10px;
    position: relative;
}

.section__pic img {
    width: 100%;
}

.section__pic h4 {
    margin-top: -50px;
    margin-left: 25px;
}

/* MAIN ACCOMMODATION 02 */
.second__accommodation {
    background-color: rgb(39, 212, 169);
    width: auto;
    height: auto;
}

.about__second {
    background-color: rgb(212, 180, 39);
    width: auto;
    height: 390px;
}

.about__second h2 {
    width: 350px;
    height: 150px;
    text-align: center;
    padding: 100px;
}

.text__about {
    padding: 15px;
    margin: 15px;
    text-align: justify;
    width: 600px;
}

/* ROOM LIST - ACCOMMODATION 02*/
.rooms__list {
    width: 750px;
    margin: 100px;
    padding: 10px;
}

.rooms__list img {
    width: 100%;
}

/* GUEST PAGE - ACCOMMODATION 03*/
.guest__accommodation {
    width: 1000px;
    margin: 100px;
}

.guest__accommodation h2 {
    margin: 2px;
    padding: 10px;
}

.guest__table {
    margin: 35px;
    padding: 1px;
}

.guest__text {
    padding: 20px;
    border: 10px;
}

.guest__text p {
    padding: 5px;
    margin: 5px;
    text-align: justify;
    width: 650px;
}

/* FOOTER */ 