/*
1. <------------------BASIC STYLES------------------>
*/
/* RESET CSS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}



/* 2. <------------------LAYOUT AND CONTAINERS------------------> */
/* Home Page */
#body__home {
    background-image: url(../assets/Back-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

/* Accommodation */
#body__accommodation {
    display: flex;
    flex-direction: column;
}


/* 3. <------------------MENU and FOOTER------------------> */
/* HEADER */
.header {
    width: auto;
    height: auto;
    grid-area: header;
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* HEADER__LOGO*/
.header__logo {
    width: 12%;
}

.header__logo img {
    width: 100%;
}

/* HEADER__BOOKING*/
.header__booking {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(25, 70, 95);
    opacity: 70%;
    border-radius: 8%;
    box-shadow: 0px 10px 10px grey;
    
}

.header__booking:hover {
    opacity: 100%;
    background-color: rgb(14, 78, 112);
}

.header__booking a {
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 1.125rem;
    text-decoration: none;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.navbar a {
    color: white;
    font-size: 1rem;
}


/* FOOTER */ 
.footer {
    height: 30%;
    width: auto;
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    grid-area: footer;
}

.footer span {
    padding: 1%;
    margin: 1%;
    font-weight: bolder;
    font-size: larger;
}

.footer a {
    margin: 0.5%;
}


/* 4. <------------------ZONES AND DIVS------------------> */

/*  MAIN HOME 01*/
.main__home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: aliceblue;
}

/* PICS */
.section__pic {
    width: 70%;
    margin: 1%;
}

.section__pic h4 {
    margin-top: -15%;
    margin-left: 8%;
    text-shadow: 2px 2px 5px black;
    font-size: 1.5rem;
}


/* 2. Accommodation */
.first__page__accommodation {
    background-image: url(../assets/bridge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 35%;
    width: auto;
    height: auto;
}

.accommodation__back {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accommodation__back h3 {
    text-align: center;
    font-size: 3.1rem;
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
    padding-top: 10%;
}


/* MAIN ACCOMMODATION 02 */
.second__accommodation {
    background-color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__second {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about__second h2 {
    width: 20%;
    text-align: center;
    font-size: 2.1rem;
}

.text__about {
    padding: 3%;
    margin: 5%;
    text-align: justify;
    width: 45%;
}

/* ROOM LIST - ACCOMMODATION 02*/
.rooms__list {
    width: 75%;
    margin-bottom: 5%;
    display: flex;
}

/* PICS */
.accommodation__h4 {
    font-size: 1.5rem;
    color: rgb(48, 45, 45);
    margin-top: 3%;
    margin-right: 5%;
    text-align: right;
}



/* GUEST PAGE - ACCOMMODATION - TABLE*/
.guest__accommodation {
    width: auto;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guest__accommodation h2 {
    font-size: 2.1rem;
}

.container-rooms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
}

.form-select {
    width: 30%;
    margin: 2%;
}

.container-radio {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 2%;
    margin-bottom: 3%;
}


.buttom__table {
    width: 5%;
    margin-bottom: 3%;
}





.buttom__table a {
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: aliceblue;
    background-color: #fa7d68;
    border-style: none;
    border-radius: 5px;
    padding: 10%;
}

.guest__text {
    padding: 2%;
    border: 4%;
    display: flex;
    justify-content: center;
    width: 50%;
    opacity: 75%;
}

.guest__text p {
    text-align: justify;
}


/*<------------------MEDIA QUERIES------------------>*/
/* MOBILE */
@media only screen and (max-width: 480px) { 
    /* 2. <--------LAYOUT AND CONTAINERS--------------> */
    /* 3. <------------MENU and FOOTER----------------> */
    .footer {
        margin-top: 8%;
        padding: 2%;
        justify-content: center;
    }

    /* 4. <---------------ZONES AND DIVS---------------->*/
    /* HEADER__LOGO*/
    .header__logo {
        width: 35%;
}
    /* HEADER__BOOKING*/
    .header__booking {
        display: none;
    }

    /*  MAIN HOME 01*/
    .main__home {
        margin-top: 25%;
    }

    /* PICS */
    .section__pic {
        width: 90%;
        margin: 1%;
    }

    .section__pic h4 {
        font-size: 1rem;
    }

    /* 2. Accommodation */
    .first__page__accommodation {
        background-position: center;
    }

    .accommodation__back h3 {
        font-size: 1.6rem;
    }

    .about__second {
        flex-direction: column;
    }

    .about__second h2 {
        width: 75%;
        margin-top: 15%;
    }

    .text__about {
        width: 70%;
        margin-top: 10%;
        margin-bottom: 20%;
    }

    .rooms__list {
        width: 90%;
    }
    
    /* PICS */
    .accommodation__h4 {
        font-size: 1rem;
    }

    .guest__accommodation {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
    }

    .container-rooms {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
    }

    .form-select {
        width: 80%;
        margin: 2%;
    }

    .container-radio {
        margin-top: 6%;
        margin-bottom: 15%;
    }

    .buttom__table {
        width: auto;
        margin-bottom: 8%;
    }

    .guest__text {
        width: 80%;
    }
}


/* TABLET */
@media only screen and (min-width: 481px) and (max-width: 1023px) { 
    /* 4. <---------------ZONES AND DIVS---------------->*/
    /* HEADER__LOGO*/
    .header__logo {
        width: 20%;
}
    /* HEADER__BOOKING*/
    .header__booking {
        display: none;
    }

    .footer {
        margin-top: 3%;
        padding: 2%;
        justify-content: start;
    }

    /*  MAIN HOME 01*/
    .main__home {
        margin-top: 10%;
    }

    /* PICS */
    .section__pic {
        width: 85%;
        margin: 1%;
    }

    /* 2. Accommodation */
    .first__page__accommodation {
        background-position: center;
    }

    .accommodation__back h3 {
        font-size: 2.4rem;
    }

    .about__second {
        flex-direction: column;
    }

    .about__second h2 {
        width: 75%;
        margin-top: 7%;
    }

    .text__about {
        width: 70%;
        margin-top: 5%;
        margin-bottom: 8%;
    }

    .guest__accommodation h2 {
        margin-top: 1%;
    }
}