//Variables:
    /*1. Image Background first pages*/
    $background-size: cover;
    $background-repeat: no-repeat;
    $height: 100vh;
    $width: 100vw;

//----------------------------------------------------------------------------------------------------

// 01 Home Page
#body__home {
    background-image: url(/assets/Back-01.jpg);
    background-size: $background-size;
    background-repeat: $background-repeat;
    height: $height;
    width: $width;
}



// 02. Accommodation
#body__accommodation {
    display: flex;
    flex-direction: column;
}



// 03. Experience
#body__experience {
    display: flex;
    flex-direction: column;
}



// 04. Gallery
#body__gallery {
    display: flex;
    flex-direction: column;
}



// 05. Booking
#body__booking {
    display: flex;
    flex-direction: column;
}