//Variables:
    /*1. Image Background first pages*/
    $background-size: cover;
    $background-repeat: no-repeat;
    $height: 100vh;
    $width: 100vw;

//----------------------------------------------------------------------------------------------------


// Home -------------------------------------------------------------------------------------
#body__home {
    background-image: url(/root/assets/multimedia/images/home.jpg);
    background-size: $background-size;
    background-repeat: $background-repeat;
    height: $height;
    width: $width;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



// About -------------------------------------------------------------------------------------
#body__about {
    display: flex;
    flex-direction: column;
}



// Services -------------------------------------------------------------------------------------
#body__services {
    display: flex;
    flex-direction: column;
}


// Contact -------------------------------------------------------------------------------------
#body__contact {
    display: flex;
    flex-direction: column;
    height: $height;
    background-image: url(/root/assets/multimedia/images/contact.jpg);
    background-size: $background-size;
    background-repeat: $background-repeat;
}